<!--
File   : About.cshtml
Author : Nisarg , Mansi & Jinal Patel
Website: http://CyberTech.azurewebsites.net/
Description:  This page is my About page with default header and footer with short description of our website. -->


@{
    ViewBag.Title = "About";
}
<h2>Who we are</h2>


<p>
Providing Computer Accessories to the people who want to make more happen is what we do. But who we are is something much more important. Over the past 4 months, we’ve worked hard to build a powerful brand that people connect with, trust and believe in.
</p>
<p>We are here to provide customer satisfaction by providing great e-commerce website where users can find products related to Computer Accessories and order it online. We also have contact page where user can talk to us and ask any question related to their order or a product they would like on our website.
</p>
