<!--
File   : Contact.cshtml
Author : Nisarg , Mansi & Jinal Patel
Website: http://CyberTech.azurewebsites.net/
Description:  This page is my Contact page with default header and footer with our support information. -->


@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <br />
    Cyber Tech<br />
    Barrie ON L4N 5A1<br />
    <abbr title="Phone">P(TOLL FREE):</abbr>
    1800.111.2233
</address>

<address>
    <strong>Email Us:</strong>   <a id="contact" href="mailto:cybertechshopping@gmail.com">cybertechshopping@gmail.com</a><br />
    <strong>Follow Us:</strong>  <a id="contact" href="https://www.facebook.com/cybertech12/">CyberTech</a><br />
</address>